services:
  app:
    container_name: nextjs-app
    build:
      context: .
      dockerfile: docker/Dockerfile.local
    ports:
      - "3000:3000"
    volumes:
      - .:/app
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/ecommerce_db
    depends_on:
      - db

  db:
    container_name: postgres-db
    image: postgres:15-alpine
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=ecommerce_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
